.board-container {
  padding: 28px;
}

.breadcump {
  font-weight: 500;
  color: #728dab;
}

.title {
  margin-top: 5px;
  font-weight: bold;
}
.search-filter {
  margin-top: 25px;
}

.search-box {
  width: 180px;
  border-radius: 5px;
  /* background-color: #c7ccd4; */
}

.dnd-container {
  margin-top: 30px;
  z-index: 1;
}
